@charset "UTF-8";
/* CSS Document */

header-img{
	width: 100%;
}

/* Navigation Bar */
/* Always True:   */
.navbar.navbar-inverse {
	background-color: #000000;
	background-color: rgba(0,0,0,1.00);
	border-width: 0px;
	opacity: 100;
	border-radius: 0px;
}
.navbar .navbar-nav {
	background-color: rgb(0,0,0);
	background-color: rgba(255,0,4,0.02);
}
.h1 {
}

/* True for Large Screens Only: */
@media (min-width: 768px) {
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	background-color: rgb(0,0,0);
	background-color: rgba(255,0,4,0.02);
}
.navbar.navbar-inverse {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	border-width: 0px;
}
.navbar .navbar-collapse {
	text-align: center;
}
}

.services{
	text-align: center;
	align-content: center;
	background-color: #46EEEE;
	border-top-left-radius: 12px;
}
.services hr{
	display: block;
	border: none;
	color: white;
	height: 2px;
	background: red;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#FF0004), to(#ffffff));
	margin-top: -14px;
	margin-bottom: 10px;
}



.header-bg{
	
	height: 100px;

	
}

header-img{
	display: block;
  max-width: 100%;
	width: 100%;
	height: auto;
}

.logo{
	max-height: 89%;
	padding: 1%;
}

.factbar{
	background-color: aqua;
}
