@charset "UTF-8";
/* CSS Document */


/* Navigation Bar */
/* Always True:   */
.navbar.navbar-inverse {
	background-color: #000000;
	background-color: rgba(0,0,0,1.00);
	border-width: 0px;
	opacity: 100;
	border-radius: 0px;
}
.navbar .navbar-nav {
	background-color: rgb(0,0,0);
	background-color: rgba(255,0,4,0.02);
}
/* True for Large Screens Only: */
@media (min-width: 768px) {
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	background-color: rgb(0,0,0);
	background-color: rgba(255,0,4,0.02);
}
.navbar.navbar-inverse {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	border-width: 0px;
}
.navbar .navbar-collapse {
	text-align: center;
}
}

/* Home Page Styling */
/*Site Header*/
.header-bg{
	height: 100px;	
}

.header-img{
	display: block;
  max-width: 100%;
	width: 100%;
	height: auto;
}

.logo{
	max-height: 98%;
	padding: 1%;
}

/*Services Block*/
.services{
	text-align: center;
	align-content: center;
	background-color: #46EEEE;
	border-top-left-radius: 12px;
}
.services hr{
	display: block;
	border: none;
	color: white;
	height: 2px;
	background: red;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#FF0004), to(#ffffff));
	margin-top: -14px;
	margin-bottom: 10px;
}
.services .caption {
	padding-top: 10px;
}

/* Intro Section */
/* Introduction, Factbar*/
.factbar{
	background-color: rgba(0,255,255,0.85);
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;

}
.factbar-row{
	padding-left: 3%;
	padding-right: 3%;
}

.factbar-col h5{
	max-width: 300px;
	
}

/* Factbar, Small Screen Variant*/
.factbar-small{
	background-color: rgba(0,255,255,0.85);

}
.intro-text{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 150%;
	color: white;
	background-color: rgba(0,255,255,0.35);
}
.intro-text h1 {
	margin-top: 2px;
}
.intro-text p {
	margin-bottom: 2px;
}
.carousel {
	overflow:hidden;
	
	max-height: 400px;
}
.inner-img{
	min-height: 400px;
	overflow: hidden;
}
